img {
  width: 100px;
  height: 79.1px;
  margin-left: -15px;
  border-radius: 10px;
}
img:hover {
  cursor: pointer;
}
input {
  width: 0px;
  height: 80px;
  font-size: 40px;
  transition: 0.7s;
  border-radius: 10px;
}

.cont {
  width: 100vw;
  height: 100vh;
  background-color: rgb(6, 6, 91);
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle {
  width: 400px;
}
